---
import { format } from 'date-fns'
import { de } from 'date-fns/locale'
import { Image } from 'astro:assets'
import {
  Card,
  CardContent,
  CardHeader,
  CardFooter,
  CardTitle,
  CardDescription,
} from '@components/card'

import EventActions from './EventActions.astro'

import type { EventData } from 'types'

const { event } = Astro.props

const {
  title,
  subtitle,
  date,
  location,
  reservationURL,
  cover,
  copyright,
}: EventData = event.data

const { Content } = await event.render()
---

<Card
  id={encodeURI(title)}
  className="event-card translate-y-8 opacity-0 transition-all duration-700 ease-out"
>
  <CardHeader>
    <CardDescription>
      {format(date, 'E dd. MMMM', { locale: de })}, {format(date, 'HH:mm')} &ndash;
      {location}
    </CardDescription>
    <div class="pt-4">
      <CardTitle>{title}</CardTitle>
    </div>
    <h3
      class="text-lg leading-tight font-semibold tracking-tight text-yellow-400"
    >
      {subtitle}
    </h3>
  </CardHeader>
  <CardContent>
    {
      (
        <Image
          src={cover}
          alt={title}
          width={600}
          height={400}
          class="mb-3 w-full rounded-md object-cover shadow-md"
          sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw"
        />
      )
    }
    <div class="text-muted-foreground text-xs">
      &copy; {copyright}
    </div>

    <div class="text-md leading-tighter space-y-2 pt-4 tracking-tight">
      <Content />
    </div>
  </CardContent>
  <CardFooter>
    <div class="flex w-full items-center justify-end">
      <EventActions event={event} />
    </div>
  </CardFooter>
</Card>

<script>
  document.addEventListener('astro:page-load', () => {
    const observerOptions = {
      root: null,
      rootMargin: '0px',
      threshold: 0.1,
    }

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove('opacity-0', 'translate-y-8')
          observer.unobserve(entry.target)
        }
      })
    }, observerOptions)

    document
      .querySelectorAll('.event-card')
      .forEach((el) => observer.observe(el))
  })
</script>
