---
import { Image } from 'astro:assets'
import { Card, CardContent, CardHeader } from '@components/ui/card'
import type { BoardMember } from 'types'

import { getCollection } from 'astro:content'
const boardMembers = await getCollection('boardMembers')

---

<div
  class="mx-auto grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
>
  {
    boardMembers.map((member) => (
      <Card key={member.data.name}>
        <CardContent>
          <div class="pt-4">
             <Image
              src={member.data.portrait}
              alt={member.data.name}
              width={184}
              height={128}
              class="mb-2 w-full rounded-sm object-cover shadow-md"
              sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw"
            />
          </div>
        </CardContent>
        <CardHeader>
          <h3 class="text-md font-medium">{member.data.name}</h3>
          <p class="whitespace-pre-line text-muted-foreground">{member.data.role}</p>
        </CardHeader>
      </Card>
    ))
  }
</div>
