---
import { Image } from 'astro:assets'
import { Card, CardContent, CardHeader } from '@components/ui/card'
import type { BoardMember } from 'types'

const boardMembers: BoardMember[] = [
  {
    name: 'Kaharina Stampfli',
    role: 'Präsidentin, Public Relations',
    imageUrl: '/images/Katharina-Stampfli.png',
  },
  {
    name: 'Anna-Lisa Kirchhofer',
    role: 'Vizepräsidentin\nRessort Klassik',
    imageUrl: '/images/Anna-Lisa-Kirchhofer.png',
  },
  {
    name: 'Christoph Burger',
    role: 'Finanzen',
    imageUrl: '/images/Christoph-Burger.png',
  },
  {
    name: 'Philippe Candolfi',
    role: 'Entwicklung',
    imageUrl: '/images/Philippe-Candolfi.png',
  },
  {
    name: 'Yvonne Gempeler',
    role: 'Kommunikation',
    imageUrl: '/images/Yvonne-Gempeler.png',
  },
  {
    name: 'Eloisa Hagen-Melo',
    role: 'Mitgliederbetreuung',
    imageUrl: '/images/Eloisa-Hagen-Melo.png',
  },
  {
    name: 'Barbara Jenzer',
    role: 'Programmkoordination',
    imageUrl: '/images/Barbara-Jenzer.png',
  },
  {
    name: 'Doris Lohner',
    role: 'Administration',
    imageUrl: '/images/Doris-Lohner.png',
  },
  {
    name: 'Christoph Widmer',
    role: 'Vorverkauf',
    imageUrl: '/images/Christoph-Widmer.png',
  },
]
---

<div
  class="mx-auto grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
>
  {
    boardMembers.map((member) => (
      <Card key={member.name} class="border-none shadow-none">
        <CardContent>
          <div class="pt-4">
            <Image
              src={member.imageUrl}
              alt={member.name}
              width={184}
              height={128}
              class="mb-2 w-full rounded-sm object-cover shadow-md"
              sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw"
            />
          </div>
        </CardContent>
        <CardHeader>
          <h3 class="text-md font-medium">{member.name}</h3>
          <p class="whitespace-pre-line text-muted-foreground">{member.role}</p>
        </CardHeader>
      </Card>
    ))
  }
</div>
