---
import { Button } from '@/components/ui/button'

interface Props {
  event: {
    data: {
      title: string
      subtitle: string
      date: Date
      location: string
      eventfrogUrl: string
    }
  }
}
const { event } = Astro.props

const createCalendarLink = (event) => {
  const title = encodeURIComponent(event.data.title)
  const location = encodeURIComponent(event.data.location)
  const description = encodeURIComponent(event.data.subtitle)
  const startDate = event.data.date.toISOString().replace(/-|:|\.\d+/g, '')
  const endDate = event.data.date.toISOString().replace(/-|:|\.\d+/g, '')

  return `https://www.google.com/calendar/render?action=TEMPLATE&text=${title}&dates=${startDate}/${endDate}&details=${description}&location=${location}`
}
---

<div class="flex">
  {
    event.data.eventfrogUrl && (
      <a href={event.data.eventfrogUrl}>
        <Button variant="ghost" size="icon" alt="Ticket kaufen">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M1,8C2.646,8 4,9.354 4,11C4,12.646 2.646,14 1,14L1,16C1,17.097 1.903,18 3,18L19,18C20.097,18 21,17.097 21,16L21,14C19.354,14 18,12.646 18,11C18,9.354 19.354,8 21,8L21,6C21,4.903 20.097,4 19,4L3,4C1.903,4 1,4.903 1,6L1,8Z" />
            <g>
              <path
                d="M7.937,10.981L14.026,10.959
        "
              />
              <path d="M10.982,13.98L10.982,13.826L10.961,8" />
            </g>
          </svg>
        </Button>
      </a>
    )
  }
  <a href={createCalendarLink(event)}>
    <Button variant="ghost" size="icon" alt="Zum Kalender hinzufügen">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M8,2L8,6"></path>
        <path d="M16,2L16,6"></path>
        <path
          d="M21,6L21,20C21,21.104 20.104,22 19,22L5,22C3.896,22 3,21.104 3,20L3,6C3,4.896 3.896,4 5,4L19,4C20.104,4 21,4.896 21,6Z"
        ></path>
        <path d="M8,2L8,6"></path>
        <path d="M16,2L16,6"></path>
        <path
          d="M21,6L21,20C21,21.104 20.104,22 19,22L5,22C3.896,22 3,21.104 3,20L3,6C3,4.896 3.896,4 5,4L19,4C20.104,4 21,4.896 21,6Z"
        ></path>
        <path d="M3,10L21,10"></path>
        <path d="M8.937,15.981L15.026,15.959"></path>
        <path d="M11.982,18.98L11.982,18.826L11.961,13"></path>
      </svg>
    </Button>
  </a>
</div>
