---
import { format } from 'date-fns'
import { Image } from 'astro:assets'
import {
  Card,
  CardContent,
  CardHeader,
  CardFooter,
  CardTitle,
  CardDescription,
} from '@/components/ui/card'
import eventImage from '../assets/images/zia-lisa.jpg'
import EventPrices from './EventPrices.astro'

export interface Props {
  event: {
    data: {
      title: string
      subtitle: string
      date: Date
      location: string
      prices: {
        name: string
        price: number
      }[]
      copyright: string
    }
    render: () => Promise<Content>
  }
}

const { event } = Astro.props

const { title, subtitle, date, location, prices, copyright } = event.data

const { Content } = await event.render()
---

<Card>
  <CardHeader>
    <CardDescription>
      {date.toLocaleDateString('de-CH')}, ab {format(date, 'HH:mm')} &ndash;
      {location}
    </CardDescription>
    <div class="pt-2">
      <CardTitle>{title}</CardTitle>
    </div>
    <h3 class="text-yellow-400">{subtitle}</h3>
  </CardHeader>
  <CardContent>
    <span class="text-xs text-muted-foreground">
      <Image
        src={eventImage}
        &width="300&height=200&class=mb-4"
        w-full
        alt={title}
        width={300}
        height={200}
        class="mb-4 w-full rounded-lg object-cover"
      />
      &copy; {copyright}
    </span>
    <div class="text-md tracking-tight space-y-2 pt-4">
      <Content/>
    </div>
  </CardContent>
  <CardFooter>
    <EventPrices prices={prices} />
  </CardFooter>
</Card>
