---
import { format } from 'date-fns'
import { de } from 'date-fns/locale'
import { Image } from 'astro:assets'
import {
  Card,
  CardContent,
  CardHeader,
  CardFooter,
  CardTitle,
  CardDescription,
} from '@components/ui/card'

import EventActions from './EventActions.astro'

import type { EventData } from 'types'

const { event } = Astro.props

const {
  title,
  subtitle,
  date,
  location,
  reservationURL,
  cover,
  copyright,
}: EventData = event.data

const { Content } = await event.render()
---

<Card id={encodeURI(title)}>
  <CardHeader>
    <CardDescription>
      {format(date, 'E dd. MMMM', { locale: de })}, {format(date, 'HH:mm')} &ndash;
      {location}
    </CardDescription>
    <div class="pt-4">
      <CardTitle>{title}</CardTitle>
    </div>
    <h3
      class="text-lg leading-tight font-semibold tracking-tight text-yellow-400"
    >
      {subtitle}
    </h3>
  </CardHeader>
  <CardContent>
    {
      (
        <Image
          src={cover}
          alt={title}
          width={600}
          height={400}
          class="mb-3 w-full rounded-md object-cover shadow-md"
          sizes="(max-width: 768px) 100vw, (max-width: 1200px) 50vw, 33vw"
        />
      )
    }
    <div class="text-muted-foreground text-xs">
      &copy; {copyright}
    </div>

    <div class="text-md leading-tighter space-y-2 pt-4 tracking-tight">
      <Content />
    </div>
  </CardContent>
  <CardFooter>
    <div class="flex w-full items-center justify-end">
      <EventActions event={event} />
    </div>
  </CardFooter>
</Card>

<style>
  .container {
    position: relative;
    width: 100%;
    padding: 0;
  }

  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;

    backface-visibility: hidden;
  }

  .middle {
    transition: 0.5s ease;
    transition-delay: 1000ms;
    opacity: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .container:hover .image {
    opacity: 0.3;
  }

  .container:hover .middle {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: small;
  }
</style>
