---
import { format } from 'date-fns'
import { de } from 'date-fns/locale'
import { Image } from 'astro:assets'
import {
  Card,
  CardContent,
  CardHeader,
  CardFooter,
  CardTitle,
  CardDescription,
} from '@/components/ui/card'
import defaultCover from '../content/events/cover-photo-place-holder.svg'
import EventPrices from './EventPrices.astro'

export interface Props {
  event: {
    data: {
      title: string
      subtitle: string
      date: Date
      location: string
      prices: {
        name: string
        price: number
      }[]
      cover: string
      copyright: string
    }
    render: () => Promise<Content>
  }
}

const { event } = Astro.props

const { title, subtitle, date, location, prices, cover, copyright } = event.data

const { Content } = await event.render()
---

<Card id="#{title}">
  <CardHeader>
    <CardDescription>
      {format(date, 'E, dd.MMM', {locale: de}) }, ab {format(date, 'HH:mm')} &ndash;
      {location}
    </CardDescription>
    <div class="pt-2">
      <CardTitle>{title}</CardTitle>
    </div>
    <h3 class="text-yellow-400">{subtitle}</h3>
  </CardHeader>
  <CardContent>
    <Image
      src={cover || defaultCover}
      alt={title}
      width={300}
      height={200}
      class="mb-3 w-full rounded-lg object-cover shadow-md"
    />
    <div class="text-xs text-muted-foreground">
      &copy; {copyright}
    </div>
    <div class="text-md space-y-2 pt-4 tracking-tight">
      <Content />
    </div>
  </CardContent>
  <CardFooter>
    <EventPrices prices={prices} />
  </CardFooter>
</Card>
