---
import { Image } from 'astro:assets'
import {
  Card,
  CardContent,
  CardHeader,
  CardFooter,
  CardTitle,
  CardDescription,
} from '@/components/ui/card'
import { Badge } from '@/components/ui/badge'
import eventImage from '../assets/images/zia-lisa.jpg'
import EventPrices from './EventPrices.astro'

const { date, title, subtitle, location, prices } = {
  date: '12.12.2025',
  title: 'E Musicae Gaudio',
  subtitle: 'Kammerensemble',
  location: 'Muri bei Bern',
  prices: [
    { category: 'Erwachsene', price: 25 },
    { category: 'Studierende', price: 15 },
    { category: 'Kinder', price: 10 },
  ],
}
---

<div class="container">
  <Card>
    <CardHeader>
      <Badge variant="secondary" class="mb-2">
        {date}
      </Badge>
      <CardTitle class="text-2xl font-bold md:text-3xl">
        {title}
      </CardTitle>
      <CardDescription class="text-2xl font-bold text-yellow-500 md:text-2xl">
        {subtitle}
      </CardDescription>

      <Badge variant="outline" class="w-fit align-top">
        {location}
      </Badge>

      <Image
        src={eventImage}
        width={600}
        alt="Overhead view of E Musicae Gaudio ensemble arranged in a circle"
        class="object-cover"
        layout="responsive"
        sizes="(max-width: 768px) 100vw, 800px"
      />
    </CardHeader>
    <CardContent>
      <div class="space-y-4">
        <p>E Musicae Gaudio = Aus Freude an der Musik</p>
        <p class="text-md text-muted-foreground">
          Wenn die 9 Künstlerinnen gemeinsam musizieren, übertragen sie dieses
          Motto im wahrsten Sinne des Wortes auf die Zuhörenden.
        </p>
        <p class="text-md text-muted-foreground">
          Einige Musikerinnen des Kammerorchesters «E Musicae Gaudio»
          entschlossen sich, unter dem selben Namen ein Kammerensemble zu
          gründen. Seither konzertieren sie in dieser Formation erfolgreich in
          der Schweiz und in weiteren europäischen Städten. Ihr Repertoire
          bietet eine reiche Palette an Werken und Stilen aus verschiedenen
          Epochen.
        </p>
      </div>
    </CardContent>
    <CardFooter>
      <EventPrices prices={prices} />
    </CardFooter>
  </Card>
</div>
