---
import HeadSEO from '@components/HeadSEO.astro'
import { ClientRouter } from 'astro:transitions'
import SchemaJSONLD from '@components/SchemaJSONLD.astro'
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'

interface Props {
  title?: string
  description?: string
  author?: {
    name: string
    email: string
  }
  keywords?: string[]
  ogImage?: URL | undefined
}

const {
  title = 'Kulturverein Muri Gümligen',
  description = 'Willkommen beim Kulturverein Muri Gümligen',
  author,
  keywords,
  ogImage,
} = Astro.props
---

<html lang="de">
  <head>
    <HeadSEO
      title={title}
      description={description}
      author={author}
      keywords={keywords}
      ogImage={ogImage}
    />
    <ClientRouter />
    <SchemaJSONLD />
  </head>
  <body class="bg-background min-h-screen font-sans antialiased">
    <div class="relative flex min-h-screen flex-col">
      <Header />
      <main class="flex-auto">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
